.hist_dot {
}

.hist_dot:hover {
}

.hist_tooltip {
    position: absolute;
    width: 200px;
    height: 60px;
    pointer-events: none;
    background-color: #ffffff;
    font: 15px tahoma, sans-serif;
}

.green_button,
.blue_button {
    color: #fff;
    padding: 5px 10px;
}

.green_button:hover,
.blue_button:hover {
    text-decoration: none;
}

.green_button {
    background-color: #b2ce96;
    border: 1px solid #b2ce96;
}

.green_button:hover {
    background-color: #86a36e;
    border: 1px solid #86a36e;
}

.blue_button {
    background-color: #afcde3;
    border: 1px solid #afcde3;
}

.blue_button:hover {
    background-color: #83a2be;
    border: 1px solid #83a2be;
}

.black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
.white_content {
    display: none;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 50%;
    height: 50%;
    padding: 16px;
    border: 8px solid #b2ce96;
    background-color: white;
    z-index:1002;
    overflow: auto;
    font: 15px tahoma, sans-serif;
}

.hovercard {
    width: 200px;
    height: 150px;
    border: 0;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
}
#d3 {
  /* 35 px for the arrows, 40px for the prediction bar*/
  width: calc(50% - 35px - 40px);
  height:calc(100% - 22px);
  margin: 0px 0px 0px 0px;
  float: left;
  overflow: scroll;
  font: "18px tahoma, sans-serif";
  border: 1px dashed;
  border-color: gray;
  border-radius:5px;
  padding: 10px;
}
#side_by_side_text{
  height: 35%;
  min-height:225px;
  clear: both;
}
#textarea_div{
  height:100%;
  width: calc(42% - 35px - 40px);
  float: left;
}
#textarea {
  width:100%;
  height: 100%;
}
#text_buttons_div {
  //margin: 25%;
  padding: 0px 10px 0px 10px;
  position: relative;
  top: 30%;
  float:left;
}
#prediction_bar {
  padding: 0px 20px 0px 20px;
}
#weights_buttons_div {
  //position:relative;
  // top:50%;
  clear:both;
  // height: 40px;
  // left: 25%;
}
#info_button {
}

#histogram_div {
  width:100%;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
}
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0,0,0,.1);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
