.hist_dot {
}

.hist_dot:hover {
}

.hist_tooltip {
    position: absolute;
    width: 200px;
    height: 75px;
    pointer-events: none;
    background-color: #ffffff;
    font: 15px tahoma, sans-serif;
}

.green_button,
.blue_button {
    color: #fff;
    padding: 5px 10px;
}

.green_button:hover,
.blue_button:hover {
    text-decoration: none;
}

.green_button {
  background-color: #b2ce96;
  border: 1px solid #b2ce96;
  box-sizing: border-box;
  ms-box-sizing: border-box;
  webkit-box-sizing: border-box;
  moz-box-sizing: border-box;
  position:relative;
  bottom: 50%;
}

.green_button:hover {
    background-color: #86a36e;
    border: 1px solid #86a36e;
}

.blue_button {
    background-color: #afcde3;
    border: 1px solid #afcde3;
}

.blue_button:hover {
    background-color: #83a2be;
    border: 1px solid #83a2be;
}

.black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
}
.white_content {
    display: none;
    position: absolute;
    top: 5%;
    left: 5%;
    width: 50%;
    height: 50%;
    padding: 16px;
    border: 8px solid #b2ce96;
    background-color: white;
    z-index:1002;
    overflow: auto;
    font: 15px tahoma, sans-serif;
}

.hovercard {
    width: 265px;
    border: 0;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 1px 10px rgba(0, 0, 0, .35);
}
#explain_text_div {
  /* 35 px for the arrows, 150 for the prediction bar*/
  /*height:calc(100% - 22px);*/
  margin: 0px 0px 0px 0px;
  overflow: scroll;
  border: 1px dashed;
  border-color: gray;
  border-radius:5px;
  padding: 10px;
}
#explain_features_div {
  /* 35 px for the arrows, 150 for the prediction bar*/
  /*height:calc(100% - 22px);*/
  margin: 0px 0px 0px 0px;
  overflow: scroll;
}
.top_explain{
  width: calc(33% - 10px);
  height: 35%;
  min-height:225px;
  float:left;
  box-sizing: border-box;
  ms-box-sizing: border-box;
  webkit-box-sizing: border-box;
  moz-box-sizing: border-box;
}
.top_statistics{
  height: 35%;
  min-height:225px;
  float:left;
  box-sizing: border-box;
  ms-box-sizing: border-box;
  webkit-box-sizing: border-box;
  moz-box-sizing: border-box;
}
#confusion_matrix_div {
  clear:left;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
#explain-2 {
  position:absolute;
  left:33%;
}
#explain-3 {
  position:absolute;
  left:66%;
}
.bottom_part {
  height:65%;
  float:left;
  top:33%;
  box-sizing: border-box;
  ms-box-sizing: border-box;
  webkit-box-sizing: border-box;
  moz-box-sizing: border-box;
}
#legend_div {
  width: 100%;
  margin-top: 5px;
  overflow-y: scroll;
}
#databin_div {
  width: 100%;
  margin-top: 5px;
}
#textarea_div{
  width: 33%;
}
#textarea {
  width:calc(100% - 50px);
  height: 100%;
  left:0px;
  position:inherit;
  resize: none;
}
#prediction_bar {
  padding: 0px 20px 0px 20px;
}
#weights_buttons_div {
  //position:relative;
  // top:50%;
 // clear:both;
 float:left;
  // height: 40px;
  // left: 25%;
}
#info_button {
  float: left;
  margin: 0px 20px 0px 0px;
}

#histogram_div {
  width:100%;
  margin: 0px 0px 0px 20px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;
}
::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgba(0,0,0,.1);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/*Tabular layout style*/
.tab_span {
  display:block;
  position:fixed;
  top:0;
  left:0;
}

#tab {
  width: 100%;
  height: 50%;
}

#tab > ul {
  margin:0 0;
  padding:10px 0 0 0;
  height:30px;
  overflow:hidden;
}


#tab > ul li {
  float:left;
  display:inline;
  list-style:none;
  margin:0 4px 0 0;
  padding:0 0;
}

#tab > ul li a {
  display:block;
  background-color:darkslategray;
  font-weight:bold;
  font-size:11px;
  line-height:30px;
  height:30px;
  color:lightgray;
  text-decoration:none;
  padding:0 30px;
}

#tab > div {
  clear:both;
  background-color:ghostwhite;
  border-style: dashed;
  border-width: 1px;
  height:0;
  overflow:hidden;
  visibility:hidden;
}

/* Reset the first tab button and the first tab content to the default behaviour if the hash is active */
span:target ~ #tab > ul li:first-child a {
  background-color:darkslategray;
  color:white;
}

span:target ~ #tab > div:first-of-type {
  visibility:hidden;
  height:0;
}

/* Always show the first tab container by default */
span ~ #tab > div:first-of-type,
/* Show a specific tab content based on the 'selected' target element */
#tab-1:target ~ #tab > div.tab-content-1,
#tab-2:target ~ #tab > div.tab-content-2,
#tab-3:target ~ #tab > div.tab-content-3,
#tab-4:target ~ #tab > div.tab-content-4 {
  visibility:visible;
  height:100%;
}

/* Always set the first tab with a 'current color' by default */
span ~ #tab > ul li:first-child a,
/* Set the current tab button color based on the 'selected' target element */
#tab-1:target ~ #tab > ul li a[href$="#tab-1"],
#tab-2:target ~ #tab > ul li a[href$="#tab-2"],
#tab-3:target ~ #tab > ul li a[href$="#tab-3"],
#tab-4:target ~ #tab > ul li a[href$="#tab-4"] {
  background-color:cadetblue;
  color:black;
}
